{{- if ne .chezmoi.os "windows" -}}
# Fish shell configuration

# Source Ansible-managed environment
if test -f $HOME/.config/ansible_generated/common.fish
    source $HOME/.config/ansible_generated/common.fish
end

# Common aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias ..='cd ..'
alias ...='cd ../..'
alias grep='grep --color=auto'

# Git aliases
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gl='git log --oneline'
alias gd='git diff'

# Safety aliases
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Custom functions
function mkcd
    mkdir -p $argv[1] && cd $argv[1]
end
{{- end -}}