[data]
    name = "andrew charles"
    email = "andrewmcharles@live.com"
    githubUser = "amcharles91"
    editor = "nano"
    defaultShell = "nu"

[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]