[data]
    name = "Andre"
    email = "andre.s.scedrov@gmail.com"
    githubUser = "andres-webdev"
    editor = "code"
    defaultShell = "nu"

[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]